/* modal template */
    .modal-template {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      /* padding-top: 146px; Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
 
    .modal-template-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      /* width: 911px;
      height: 789px; */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    .modal-header-template {
      height: 110px;
      color: black;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15px;
    }

.close-modal-template{
  position: absolute;
  top: 8px;
  right: 11px;
  transform: scale(2.5);
  cursor: pointer;
}
.nav-modal-template{
  position: absolute;
  right: -70px;
  top: 80px;
  display: flex;
  flex-direction: column;
}
.icon-nav-modal-template{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  margin: 13px;
  cursor: pointer;
}
.icon-nav-modal-template-selected{
  background-color: #0055FF;
  color: white;
}
.icon-nav-modal-template-unselected{
  background-color: white;
  color: #A1A1A1;
}

   /* modalAddCustomer */
  .modalAddCustomer{
    padding-top: 146px;
  }
  .modalAddCustomer-content{
    width: 911px;
    height: 789px;
  }

.modalAddCustomer-input{
  width: 100%;
  padding-left: 86px;
  padding-right: 86px;
}
.element-input-add-customer{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.element-input-add-customer>label{
  font-size: 20px;
  margin-bottom: 8px;
  color: black;
}
.input-add-customer{
  outline: none;
  height: 58px;
  padding-left: 20px;
  border: 1px solid rgb(229, 229, 229);
}
#iac3{
  height: 113px;
  padding-bottom: 40px;
}
.modal-btn{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.element-btn-modal{
  width: 171px;
  height: 51px;
  outline: none;
  border: none;
  margin: 15px;
  color: white;
}
.element-btn-modal:first-child{
    background-color: rgb(98, 160, 213);
}
.element-btn-modal:last-child{
  background-color: rgb(126, 126, 126);
}

/*modal edit customer*/
.modalEditCustomer{
  padding-top: 146px;
}
.modalEditCustomer-content{
  width: 911px;
  height: 789px;
}

.modalEditCustomer-input{
width: 100%;
padding-left: 86px;
padding-right: 86px;
}
.element-input-edit-customer{
display: flex;
flex-direction: column;
margin-bottom: 15px;
}
.element-input-edit-customer>label{
font-size: 20px;
margin-bottom: 8px;
color: black;
}
.input-edit-customer{
outline: none;
height: 58px;
padding-left: 20px;
border: 1px solid rgb(229, 229, 229);
}
#iec3{
height: 113px;
padding-bottom: 40px;
}


   /* The modalAddLicense */
  
   .modalAddLicense{
    padding-top: 203px;
  }
  .modalAddLicense-content{
    width: 1086px;
    height: 650px;
  }
.element-modalAdd-license{
  margin-top: 20px;
  padding-left: 126px;
  padding-right: 100px;
  display: flex;
}
.modalAddLicense-left{
  width: 420px;
  display: flex;
  flex-direction: column;
}
.modalAddLicense-left>span{
  font-size: 20px;
  font-weight: bold;
  height: 70px;
}
.modalAddLicense-right{
  display: flex;
  flex-direction: column;

}
.element-modalAddLicense-right{
  font-size: 20px;
  height: 70px;
}
.license-key-modalAddLicense{
  color: #B5B5B5;
}
.checkbox-license-term{
  margin-top: 20px;
}
.checkbox-license-term>label{
  padding: 10px;
  cursor: pointer;
}
.list-customer-modalAddLicense{
  width: 206px;
  height: 40px;
  outline: none;
  border-radius: 3px ;
  border: 1px solid rgb(186, 186, 186,0.7);
}

/* modal delete*/
.modalDelete{
  padding-top: 280px;
}
.modalDelete-content{
  height: 520px;
  width: 760px;
}
.modalDelete-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.modalDelete-header>div{
  height: 70px;
  width: 70px;
  text-align: center;
}
.modalDelete-header>div>i{
  color: red;
  transform: scale(6);
}
.modalDelete-header>h2{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-modalDelete{
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

/* modal view profile */
.modalViewProfile{
  padding-top: 215px;
}
.modalViewProfile-content{
  height: 650px;
  width: 1086px;
}
.table-detail-modalViewProfile>table{
  height: 400px;
  width: 970px;
  margin-left: 58px;
  font-size: 20px;
  margin-top: 30px;
}
.table-detail-modalViewProfile>table>tbody>tr>td:first-child{
  font-weight: bold;
  padding-left: 60px;
  width: 320px;
}

/* modal view licenses */
.modalViewLicenses{
  padding-top: 142px;
}
.modalViewLicenses-content{
  height: 857px;
  width: 1432px;
}
.table-detail-modalViewLicenses>table{
  width: 1328px;
  height: 441px;
  margin-left: 50px;
  font-size: 20px;
  margin-top: 20px;
}
.table-detail-modalViewLicenses>table>tbody>tr{
  height: 63px;
}
.table-detail-modalViewLicenses>table>tbody>tr>td:first-child{
  font-weight: bold;
  padding-left: 137px;
  width: 590px;
}
.action-table-modalViewLicenses{
  display: flex;
  margin: 0;
  margin-left: -25px;
  color: #0055FF;
}
.action-table-modalViewLicenses>li{
  padding-right: 25px ;
  padding-left: 25px;
  border-right: 1px solid #A1A1A1;
}
.action-table-modalViewLicenses>li:last-child{
  border: none;
}
.icon-question{
  margin-left: 20px;
}
.payment-modalViewLicenses{
  margin-left: 50px;
  padding-top: 35px;
}
.title-payment-modalViewLicenses{
  padding-left: 137px;
}
.title-payment-modalViewLicenses>h3{
  font-size: 26px;
  margin-right: 40px;
  font-weight: bold;
}

.table-payment-modalViewLicense>table{
  width: 1328px;
  font-size: 24px;
  margin-top: 30px;
}
.table-payment-modalViewLicense>table>tbody>tr{
  height: 63px;
}
.table-payment-modalViewLicense>table>tbody>tr>td:first-child{
  padding-left: 137px;
}

/* modal generate license*/
 
.modalGenerateLicense{
  padding-top: 203px;
}
.modalGenerateLicense-content{
  width: 1086px;
  height: 650px;
}
.element-modalGenerate-license{
margin-top: 20px;
padding-left: 126px;
padding-right: 100px;
display: flex;
}
.modalGenerateLicense-left{
width: 420px;
display: flex;
flex-direction: column;
}
.modalGenerateLicense-left>span{
font-size: 20px;
font-weight: bold;
height: 70px;
}
.modalGenerateLicense-right{
display: flex;
flex-direction: column;

}
.element-modalGenerateLicense-right{
font-size: 20px;
height: 70px;
}
.license-key-modalGenerateLicense{
color: #B5B5B5;
}
.checkbox-license-term{
margin-top: 20px;
}
.checkbox-license-term>label{
padding: 10px;
cursor: pointer;
}

/* modal disable*/
.modalDisable{
  padding-top: 280px;
}
.modalDisable-content{
  height: 520px;
  width: 760px;
}
.modalDisable-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.modalDisable-header>div{
  height: 70px;
  width: 70px;
  text-align: center;
}
.modalDisable-header>div>i{
  color: #F98D00;
  transform: scale(6);
}
.modalDisable-header>h2{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-modalDisable{
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}